body{
  background-color: #141414;
  color: white;
}

.heading{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorite__heading{
  display: flex;
  justify-content: flex-start;
}